<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="baseUrl" value="http://localhost:54321"/>
    <add key="defaultUser" value="TestUser"/>
    <add key="defaultPassword" value="test123"/>
    <add key="defaultAdmin" value="TestAdmin"/>
    <add key="defaultAdminPassword" value="admin123"/>
  </appSettings>
</configuration>