/* Create User Start */
#createUserTable
{
    width: 340px;
}

#createUserTable .firstColumn
{
    width: 110px !important;
    font-weight: bold !important;
    text-align: right !important;
}

#createUserTable .secondColumn
{
    width: 200px;
}

#createUserTable .secondColumn input
{
    width: 200px;
}
/* Create User End */

/* Create Forum Start */
#createForumTable
{
    width: 400px;
}

#createForumTable .firstColumn
{
    width: 100px !important;
    font-weight: bold !important;
    text-align: right !important;
    vertical-align: top;
}

#createForumTable .secondColumn
{
    width: 300px;
}

#createForumTable .secondColumn input, #createForumTable .secondColumn textarea
{
    width: 296px;
}
/* Create Forum End */

/* Create Photo Category Start */

#createPhotoCategoryTable
{
    width: 400px;
}

#createPhotoCategoryTable .firstColumn
{
    width: 100px !important;
    font-weight: bold !important;
    text-align: right !important;
    vertical-align: top;
}

#createPhotoCategoryTable .secondColumn
{
    width: 300px;
}

#createPhotoCategoryTable .secondColumn input, #createPhotoCategoryTable .secondColumn textarea
{
    width: 296px;
}


/* Create Photo Category End */

/* Create Video Category Start */

#createVideoCategoryTable
{
    width: 400px;
}

#createVideoCategoryTable .firstColumn
{
    width: 100px !important;
    font-weight: bold !important;
    text-align: right !important;
    vertical-align: top;
}

#createVideoCategoryTable .secondColumn
{
    width: 300px;
}

#createVideoCategoryTable .secondColumn input, #createVideoCategoryTable .secondColumn textarea
{
    width: 296px;
}


/* Create Video Category End */