#changePasswordTable
{
    width: 300px;
}

#changePasswordTable .firstColumn
{
    width: 150px !important;
    font-weight: bold !important;
    text-align: right !important;
}

#changePasswordTable .secondColumn
{
    width: 150px;
}

#changePasswordTable .secondColumn input
{
    width: 146px;
}

#loginTable
{
    width: 300px;
}

#loginTable .firstColumn
{
    width: 100px !important;
    font-weight: bold !important;
    text-align: right !important;
}

#loginTable .secondColumn
{
    width: 200px;
}

#loginTable .secondColumn input
{
    width: 200px;
}