#userProfileTable
{
    width: 250px !important;
}

#userProfileTable .firstColumn
{
    width: 100px !important;
    text-align: right !important;
}

#userProfileTable .secondColumn
{
    width: 150px !important;
    color: Black;
    padding-left: 6px;
}

#myProfileTable
{
    width: 400px;
}

#myProfileTable .firstColumn
{
    width: 200px !important;
    text-align: right !important;
}

#myProfileTable .secondColumn
{
    width: 200px !important;
}

#myProfileTable .secondColumn input[type=text]
{
    width: 98%;
}

#myProfileTable .secondColumn select
{
    width: 99%;
}