/* Forums Index Start */
.forumTitle, .topicTitle
{
    font-size: 12px !important;
    font-weight: bold !important;
}

.forumDesc
{
    font-size: 11px !important;
}
/* Forums Index Start */

/* View Forum Start */
#newTopicButton
{
    margin: 12px 0 0 20px;
    float: left;
}

#forumTable
{
    margin-top: 6px !important;
}

.forumPager
{
    float: right;
    font-size: 12px;
    margin-right: 20px;    
    margin-left: 20px;
}

.forumPagerTop
{
    margin-top: 8px;
}

.forumPagerBottom
{
    margin-bottom: 12px;
}

.forumPager .selected
{
    font-weight: bold;
}

.smallpager
{
    font-size: 9px !important;
}

/* View Forum End */

/* Create Topic Start */
#createTopicTable .firstColumn
{
    width: 100px !important;
    font-weight: bold !important;
    text-align: right !important;
    vertical-align: top;
    padding-top: 8px;
}

#createTopicTable input[type=text]
{
    width: 99%;
}

#Post_Text
{
    width: 99%;
    height: 300px;
}
/* Create Topic End */

/* Show Topic Start */
.author
{
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 20px;
}

.postDate
{
    font-size: 12px;
}

.postInfo
{
    white-space: nowrap;
    vertical-align: top;
}

.postText
{
    vertical-align: top;
    padding-top: 6px !important;
}

#reply
{
    margin-left: 20px;
    text-align: left;
}

#reply #post_Text
{
    width: 97.5%;
}

#reply input
{
    margin-top: 10px;
    margin-right: 30px;
}

.postOptions
{
    float: right;
}
/* Show Topic End */


