/* Category Gallery Start */
.category-gallery, .category-gallery a:hover
{
    text-decoration: none;
}

.category-gallery li
{
    height: 248px !important;
    line-height: normal !important;
    padding-top: 0px;
    padding-bottom: 6px;
}

.category-gallery .albumCover
{
    margin-top: 5px;
    margin-bottom: 5px;
    height: 175px;
}

.category-gallery .sub
{
    font-size: 12px;
    margin: 0px 4px 0px 4px;
}

.category-gallery .left
{
    float: left;
}

.category-gallery .right
{
    float: right;
}

.category-gallery .imageSub
{
    margin-top: 2px;
    margin-bottom: 3px;
}

.category-gallery .albumTitle
{
    margin-top: 2px;
    height: 32px;
    text-align: left;
    margin-left: 4px;
    font-size: 12px;
}

.category-gallery a
{
    padding-top: 0px;
    left: -50% !important;
    top: -50% !important;
    background-color: White !important;
}
/* Category Gallery End */

/* Upload Start */
#uploadTable
{
    width: 450px;
}

#uploadTable .firstColumn
{
    font-weight: bold;
    width: 75px !important;
    text-align: right !important;
    vertical-align: top !important;
}

#uploadTable .secondColumn
{
    width: 375px !important;
}

#uploadTable .secondColumn input[type=text]
{
    width: 200px;
}

#uploadTable .secondColumn select
{
    width: 204px;
}

/* Upload End */
 