/*************/
/*  CONTENT  */
/*************/

/* PAGETITLE */
.main h1.pagetitle
{
    margin: 0 0 0.5em 0;
    padding: 1px 0 1px 32px;
    background: url(../img/icon_pagetitle.gif) no-repeat;
    background-position: center left;
    color: rgb(255,255,255);
    font-size: 220% !important /*Non-IE6*/;
    font-size: 200% /*IE6*/;
}

/* HEADING -- Standard icon (1-Column / 2-Column / 3-Column) */
.content h1
{
    margin: 0;
    padding: 0px 50px 5px 20px;
    border-bottom: solid 1px rgb(215,215,215);
    background: url(../img/icon_celltitle_level1.gif) no-repeat;
    background-position: 914px 5px;
    color: rgb(75,75,75); /* font-weight: bold;*/
    font-size: 220% !important /*Non-IE6*/;
    font-size: 200% /*IE6*/;
}

.content h2
{
    clear: both; /*Start IE Hack*/
    position: relative;
    z-index: 1;
    top: -1px /* End IE Hack to remove vertical -1px margin bug otherwise produced by margin*/;
    margin-bottom: 6px; /*margin: 0 20px 0 20px;*/ /*padding: 15px 35px 5px 0;*/ /*border-top: solid 1px rgb(215,215,215);*/ /*background: url(../img/icon_celltitle_level2.gif) no-repeat;*/
    background-position: right 15px;
    color: rgb(75,75,75); /* font-weight: bold;*/
    font-size: 180% !important /*Non-IE6*/;
    font-size: 160% /*IE6*/;
}
.content h3
{
    margin: 1.0em 0 -0.3em 0;
    padding: 0 20px 0 20px;
    color: rgb(75,75,75); /* font-weight: bold;*/
    font-size: 180% !important /*Non-IE6*/;
    font-size: 160% /*IE6*/;
}
.content h3.line
{
    /*Start IE Hack*/
    position: relative;
    z-index: 1;
    top: -1px; /* End IE Hack vertical alignment to blend top border with h1, if directly after each other*/
    margin: 0 20px -0.3em 20px;
    padding: 1.0em 0 0 0;
    border-top: solid 1px rgb(215,215,215);
}
.content h4
{
    margin: 1.0em 0 -0.3em 0;
    padding: 0 20px 0 20px;
    color: rgb(75,75,75); /* font-weight: bold;*/
    font-size: 160% !important /*Non-IE6*/;
    font-size: 140% /*IE6*/;
}
.content h5
{
    margin: 1.0em 0 -0.5em 0;
    padding: 0 20px 0 20px;
    color: rgb(75,75,75); /* font-weight: bold;*/
    font-size: 140% !important /*Non-IE6*/;
    font-size: 125% /*IE6*/;
}
.content h6
{
    margin: 0.4em 0 0.5em 0;
    padding: 0 20px 0 20px;
    color: rgb(50,50,50);
    font-weight: normal;
    font-size: 130% !important /*Non-IE6*/;
    font-size: 115% /*IE6*/;
}



/* HEADING -- No icon */
.main h1.pagetitle-noicon
{
    margin: 0 0 0.5em 0;
    padding: 1px 0 1px 0;
    background: none;
    color: rgb(255,255,255);
    font-weight: normal;
    font-size: 220% !important /*Non-IE6*/;
    font-size: 200% /*IE6*/;
}
.content h1.noicon
{
    background: none;
}
.content h2.noicon
{
    background: none;
}

/* PARAGRAPH TEXT */
p.text
{
    margin: 1.0em 0 1.0em 0;
    color: rgb(0,0,0);
    line-height: 1.3em;
    padding: 0 20px 0 20px;
    font-size: 131% !important /*Non-IE6*/;
    font-size: 115% /*IE6*/;
}

/* TABLE(1-Column / 2-Column / 3-Column)*/
.content .defaultTable
{
    clear: both;
    width: 920px;
    margin: 1.5em 0 1.2em 20px; /*table-layout: fixed;*/
    border-collapse: collapse;
    empty-cells: show;
    background-color: rgb(233,232,244);
}

.content-2col-nobox-leftcolumn table, .content-2col-nobox-rightcolumn table, .content-2col-box-leftcolumn table, .content-2col-box-rightcolumn table
{
    width: 440px !important;
}

.content .defaultTable th.top
{
    height: 3.5em;
    padding: 0 7px 0 7px;
    empty-cells: show; /*background-color: rgb(175,175,175);*/
    background-color: #5c9ccc;
    text-align: left;
    color: rgb(255,255,255); /* font-weight: bold;*/
    font-size: 120% !important /*Non-IE6*/;
    font-size: 110% /*IE6*/;
}
.content .defaultTable th
{
    height: 3.0em; /*padding: 2px 20px 2px 7px;*/
    padding: 2px 6px 2px 6px;
    border: solid 2px rgb(245,245,245); /*background-color: rgb(225,225,225);*/
    background-color: #5c9ccc;
    text-align: center;
    color: rgb(80,80,80);
    font-weight: bold;
    font-size: 120% !important /*Non-IE6*/;
    font-size: 120% /*IE6*/;
}
.content .defaultTable td
{
    height: 3.0em;
    padding: 1px 5px 1px 5px;
    border: solid 2px rgb(245,245,245);
    background-color: rgb(225,225,225);
    text-align: left;
    font-weight: normal;
    color: rgb(80,80,80); /*font-size: 120% !important Non-IE6;*/
    font-size: 120%;
}

/* Table containing tiny MCE */

.content .mceWrapper
{
    clear: both;
    width: 920px;
    margin: 1.5em 0 1.2em 20px;
    table-layout: fixed;
    border-collapse: collapse;
    empty-cells: show;
    background-color: rgb(233,232,244);
}

.content .mceWrapper > thead > tr > th.top
{
    height: 3.5em;
    padding: 0 7px 0 7px;
    empty-cells: show; /*background-color: rgb(175,175,175);*/
    background-color: #5c9ccc;
    text-align: left;
    color: rgb(255,255,255); /* font-weight: bold;*/
    font-size: 120% !important /*Non-IE6*/;
    font-size: 110% /*IE6*/;
}
.content .mceWrapper > thead > tr > th
{
    height: 3.0em;
    padding: 2px 20px 2px 7px;
    border: solid 2px rgb(245,245,245); /*background-color: rgb(225,225,225);*/
    background-color: #5c9ccc;
    text-align: left;
    color: rgb(80,80,80); /* font-weight: bold;*/
    font-size: 120% !important /*Non-IE6*/;
}

.content .mceWrapper > tbody > tr > td
{
    height: 3.0em;
    padding: 2px 7px 2px 7px;
    border: solid 2px rgb(245,245,245);
    background-color: rgb(225,225,225);
    text-align: left;
    font-weight: normal;
    color: rgb(80,80,80);
    font-size: 120% !important /*Non-IE6*/;
}

.content p.caption
{
    clear: both;
    margin: 0.5em 0 2.0em 0;
    text-align: left;
    color: rgb(80,80,80);
    font-size: 120% !important /*Non-IE6*/;
}

/* Text links */
.main a
{
    color: rgb(70,122,167); /* font-weight: bold;*/
    text-decoration: none;
}
.main a:hover
{
    color: rgb(42,90,138);
    text-decoration: underline;
}
.main a:visited
{
    color: rgb(42,90,138);
}

/******************************************/
/*  ADDITIONAL USER STYLES                */
/*  If you want to add your own styles,   */
/*  then add them here in order to avoid  */
/*  a mixup with the default styles.      */
/******************************************/

.submitRow
{
    /*border-left: none !important;*/
}

.submitRow td
{
    /*border-left: none !important;*/
}

#createUserTable
{
    width: 340px;
}

#createUserTable .firstColumn
{
    width: 110px !important;
    font-weight: bold !important;
    text-align: right !important;
}

#createUserTable .secondColumn
{
    width: 200px;
}

#createUserTable .secondColumn input
{
    width: 200px;
}

#changePasswordTable
{
    width: 250px;
}

#changePasswordTable .firstColumn
{
    width: 110px !important;
    font-weight: bold !important;
    text-align: right !important;
}

#changePasswordTable .secondColumn
{
    width: 140px;
}

#changePasswordTable .secondColumn input
{
    width: 136px;
}

#loginTable
{
    width: 300px;
}

#loginTable .firstColumn
{
    width: 100px !important;
    font-weight: bold !important;
    text-align: right !important;
}

#loginTable .secondColumn
{
    width: 200px;
}

#loginTable .secondColumn input
{
    width: 200px;
}

#createForumTable
{
    width: 400px;
}

#createForumTable .firstColumn
{
    width: 100px !important;
    font-weight: bold !important;
    text-align: right !important;
}

#createForumTable .secondColumn
{
    width: 300px;
}

#createForumTable .secondColumn input, textarea
{
    width: 296px;
}

#createTopicTable .firstColumn
{
    width: 100px !important;
    font-weight: bold !important;
    text-align: right !important;
    vertical-align: top;
}

#userProfileTable
{
    width: 250px !important;
}

#userProfileTable .firstColumn
{
    width: 100px !important;
    text-align: right !important;
}

#userProfileTable .secondColumn
{
    width: 150px !important;
    color: Black;
    padding-left: 6px;
}

#myProfileTable
{
    width: 300px;
}

#myProfileTable .firstColumn
{
    width: 100px !important;
    text-align: right !important;
}

#myProfileTable .secondColumn
{
    width: 200px !important;
}

#myProfileTable .secondColumn input[type=text]
{
    width: 98%;
}

#uploadTable
{
    width: 450px;
}

#uploadTable .firstColumn
{
    width: 75px !important;
    text-align: right !important;
    vertical-align: top !important;
}

#uploadTable .secondColumn
{
    width: 375px !important;
}

#uploadTable .secondColumn input[type=text]
{
    width: 200px;
}

#uploadTable .secondColumn select
{
    width: 204px;
}

.css_right
{
    float: right;
}

.dataTables_length
{
    width: 40%;
    float: left;
}

.dataTables_filter
{
    width: 50%;
    float: right;
    text-align: right;
}

.fg-toolbar
{
    padding: 5px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 105%;
}

#movieTable
{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.dataTables_paginate
{
    float: right;
    text-align: right;
    width: auto;
}

.dataTables_info
{
    float: left;
    width: 50%;
    padding-top: 2px;
}

.paging_two_button .fg-button
{
    cursor: pointer;
    float: left;
}


.content .defaultTable th, .content .defaultTable td
{
    height: 2em !important;
}


.category-gallery a
{
    background-color: White !important;
}

.validation-summary-errors
{
    color: Red;
    padding-left: 20px;
    padding-top: 6px;
}

.Success
{
    color: Green !important;
}

.checkBox
{
    vertical-align: sub;
}
