<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="mediaCommDB" connectionString="Data Source=localhost;Initial Catalog=mediaComm;User ID=mc;Password=geheim" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <membership>
      <providers>
        <clear />
        <add
          name="AspNetSqlMembershipProvider"
          type="System.Web.Security.SqlMembershipProvider"
          connectionStringName="mediaCommDB"
          enablePasswordRetrieval="true"
          enablePasswordReset="false"
          requiresQuestionAndAnswer="false"
          requiresUniqueEmail="false"
          passwordFormat = "Clear"
          maxInvalidPasswordAttempts="5"
          minRequiredPasswordLength="5"
          minRequiredNonalphanumericCharacters="0"
          passwordAttemptWindow="10"
          applicationName="MediaCommMVC" />
      </providers>
    </membership>
    <roleManager enabled="true">
      <providers>
        <clear />
        <add connectionStringName="mediaCommDB" applicationName="/" name="AspNetSqlRoleProvider"
         type="System.Web.Security.SqlRoleProvider" />
      </providers>
    </roleManager>
  </system.web>
</configuration>