/* Forums Index Start */
.forumTitle, .topicTitle
{
    font-size: 12px !important;
    font-weight: bold !important;
}

.forumDesc
{
    font-size: 11px !important;
}

#forumIndexFooter
{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#forumIndexFooter #legend
{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#forumIndexFooter #legend .caption
{
    padding: 1px 20px 1px 4px;
}

/* Forums Index End */

/* View Forum Start */
#newTopicButton
{
    margin: 12px 0 0 20px;
    float: left;
}

#forumTable
{
    margin-top: 6px !important;
}

.forumPager
{
    float: right;
    font-size: 12px;
    margin-right: 20px;
    margin-left: 20px;
}

.forumPagerTop
{
    margin-top: 8px;
}

.forumPagerBottom
{
    margin-bottom: 12px;
}

.forumPager .selected
{
    font-weight: bold;
}

.smallpager
{
    font-size: 9px !important;
}

/* View Forum End */

/* Create Topic Start */
#createTopicTable .firstColumn
{
    width: 100px !important;
    font-weight: bold !important;
    text-align: right !important;
    vertical-align: top;
    padding-top: 8px;
}

#createTopicTable .fullWidth
{
    width: 99.5%;
}

#Post_Text
{
    width: 99%;
    height: 300px;
}

#excludedUsers
{
    width: 200px !important;
}

#createPoll
{
    margin-left: 4px;
    margin-top: 2px;
}

#createPoll input
{
    width: 200px;
    margin-left: 6px;
}

#createPoll td
{
    padding-top: 2px;
}

#addAnswer
{
    margin-left: 4px;
    margin-top: 6px;
    margin-bottom: 6px;
}

.hide
{
    display: none;
}

#optionsButton
{
    /*font-size: 50%;*/
}

/* Create Topic End */

/* Show Topic Start */
.author
{
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 20px;
}

.postDate
{
    font-size: 12px;
}

.postInfo
{
    white-space: nowrap;
    vertical-align: top;
}

.postText
{
    vertical-align: top;
    padding-top: 6px !important;
}

#reply
{
    margin-left: 20px;
    text-align: left;
}

#reply #post_Text
{
    width: 97.5%;
}

#reply input
{
    margin-top: 10px;
    margin-right: 30px;
    font-size: 120%;
}

#reply textarea, #reply .wmd-preview
{
    font-size: 120%;
}


.postOptions
{
    float: right;
}

.pollAnswer
{
    width: 100%;
}

.pollAnswerInput
{
    vertical-align: middle;
}

.pollTable
{
    clear: both;
    width: 460px;
    margin: 1.5em 0 1.2em 0px; 
    border-collapse: collapse;
    empty-cells: show;
    background-color: rgb(233,232,244);
}

.pollTable th
{
    height: 1.5em;
    padding: 2px 6px 2px 6px;
    border: solid 2px rgb(245,245,245);
    background-color: #5c9ccc;
    text-align: center;
    color: rgb(80,80,80);
    font-size: 120% !important;
}

.pollTable td
{
    height: 1.5em;
    padding: 1px 5px 1px 5px;
    border: solid 2px rgb(245,245,245);
    background-color: rgb(225,225,225);
    text-align: left;
    font-weight: normal;
    color: rgb(80,80,80); 
    font-size: 120%;
}

#poll
{
    width: 460px;
    margin-left: auto;
    margin-right: auto;
}
/* Show Topic End */


/* Edit post Start */

#editPost
{
    margin-left: 20px;
    margin-right: 142px;
    margin-top: 6px;
    text-align: left;
    font-size: 120%;
}


#editPost #save
{
    margin-left: 14px;
    margin-bottom: 6px;
}

/* Edit post End */
