/* Start Forum index + View Forum */

.forum-main, .topic-main
{
    width: 100%;
}

.forum-postCount, .forum-lastPost, .forum-topicCount, .topic-postCount, .topic-lastPost, .topic-CreatedBy
{
    text-align: center;
}

.forum-lastPost, .topic-lastPost
{
    min-width: 70px;
}

.forum-lastPostTime, .topic-lastPostTime
{
    white-space: nowrap;
}

#forums-footer, #topics-footer
{
    margin-top: 10px;
}

#forums-footer table, #topics-footer table
{
    margin: 0 auto;
}

#forums-footer .caption, #topics-footer .caption
{
    padding-right: 16px;
}

#forums-table, #topics-table
{
    border: 1px solid;
    text-decoration: none;
    width: 100%;
}

#forums-table td, #forums-table th, #topics-table td, #topics-table th
{
    border: 1px solid;
    height: 2em;
    padding: 2px 6px 2px 6px;
}

#forums-table a, #topics-table a
{
    /*text-decoration: none;*/
}

#forums-table a:hover, #topics-table a:hover
{
    /*text-decoration: underline;*/
}

.forum-title, .topic-title
{
    font-size: 13px;
    font-weight: bold;
}

.forum-desc, .topic-desc
{
    font-size: 11px;
}

/* End Forum index */

/* Start View Forum */

.topics-pager .selected
{
    font-weight: bold;
}

#topics-newTopic
{
    padding: 6px 0 10px 0px;
    float: left;
    font-size: 11px !important;
}

.topics-pager
{
    float:right;
}

.topics-pagerTop
{
    padding: 16px 2px 10px 0;
}

.topics-pagerBottom
{
    padding: 4px 2px 4px 4px;
    vertical-align: top;
}

.topic-SmallPager
{
    font-size: 9px;
}

#forum

/* End View Forum */