.formsContainer .label
{
    font-weight: bold;
    width: 100px;
    text-align: right;
    vertical-align: top;
    padding: 2px 2px;
}

.formsContainer input[type=text]
{
    /*padding: 0 4px 0 4px;*/
}