body
{
    font-size: 11px;
    font-family: arial,sans-serif;
}

article, aside, figure, footer, header, hgroup, menu, nav, section
{
    display: block;
}

h1
{
    margin: 4px 0 6px 6px;
    font-size: 20px;
}

#container
{
    width: 978px;
    margin: 0 auto;
    min-height: 500px;
    margin-top: 10px;
    /*border-color: Black;
    border-style: solid;
    padding-left: 4px;*/
}

#mainHeader
{
    /*border-color: orange;
    border-style: solid;*/
}

#breadcrumb
{
    padding: 10px 0 26px 0;
    font-size: 13px;
    text-decoration: none;
}

#breadcrumb a
{
    text-decoration: none;    
}

#breadcrumb span
{
    float: left;  
    margin-right: 4px; 
}

#breadcrumb a:hover
{
    text-decoration: underline;    
}

#content
{
    /*border-color: red;
    border-style: solid;*/
    margin: 4px 6px 4px 6px;
}

#footer
{
    /*border-color: blue;
    border-style: solid;*/
}
