#mainNav
{
	/* test code 
	border-color: green;
	border-style: solid;*/
	font-family: tahoma,arial,sans-serif;
	float: left;
	width: 100%;	
	margin-left: 4px;
}

#mainNav .menu-item .hover-menu
{
	display: none;
	border: none;
}

#mainNav .menu-item:hover .hover-menu
{
	display: block;
	white-space: normal;	
	width: 163px;
	position: absolute;
	left: 0;
	top: 21px;
}

#mainNav .hover-menu .menu-item
{
	/*width: 160px;*/
}

#mainNav .menu-item:hover
{
	position: relative;
}
#mainNav .menu-item
{
	display: inline;
}

#mainNav > .menu-item > label
{
	width: 80px !important;
}

.hover-menu > .menu-item > label
{
	width: 163px !important;
	text-align: left;
}